<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
<script type="text/javascript" src="../views/jquery.js"></script>
<script type="text/javascript" src="../views/index_script.js"></script>
<script type="text/javascript" src="../views/verifying_email.js"></script>
<link rel="stylesheet" type="text/css" href="../views/Style.css"/>
<link rel="stylesheet" type="text/css" href="../views/View_form_reg.css"/>
<style type="text/css">
</style>
</head>

<body>

 <div id="header">
  <div class="menu clear">
   <a class="logo" href="/"></a>
   <ul class="menu-options">
    <li>
     <a href="/">Главная</a>
    </li>
    <li>
     <a href="">Блог</a>
    </li>
    <li>
     <a href="">Контакты</a>
    </li>
    <li>
     <a href="registration.php">Регистрация</a>
    </li>
    <li>
     <a href="">Вход</a>
    </li>
   </ul>
  </div>
 </div>

<!----------------------------------------------------------------------------------------------------------------------->
 <div id="content">
  <div class="h-page">
   <div class="layout-wrapper" class="b-login-form b-login-form-main">	
    <div id="form_reg">
	  
	 <h2 class="header">Регистрация</h2>
      <form action="../controllers/Controller_registration.php" method="post" enctype="multipart/form-data">
       <!-- save_user.php - это адрес обработчика. То есть, после нажатия на кнопку "Зарегистрироваться", данные из полей отправятся на страничку save_user.php методом "post" -->
       <p>
      <label>Ваш логин *:<br></label>
      <input name="login" class="tx inactive" type="text" maxlength="15">
     </p>
       <!-- В текстовое поле (name="login" type="text") пользователь вводит свой логин -->  
       <p>
      <label>Ваш пароль *:<br></label>
      <input name="password" class="tx inactive" type="password" maxlength="15">
     </p>
       <!-- В поле для паролей (name="password" type="password") пользователь вводит свой пароль -->  
       <p>
      <label>Ваш E-mail *:<br></label>
      <input name="email" class="tx inactive" type="text" maxlength="100">
     </p>
       <!-- Вводим е-майл -->  
   
       <p>
      <label>Выберите аватар. Изображение должно быть формата jpg, gif или png:<br></label>
      <input type="FILE" name="fupload">
     </p>
       <!-- В переменную fupload отправится изображение, которое выбрал пользователь. --> 
	   <p>Введите код с картинки *:<br>
	   <p><img src="/code/my_codegen.php"></p>
	   <p><input type="text" name="code"></p>
       <!-- В code/my_codegen.php генерируется код и рисуется изображение --> 

	   <p>
	    <input type="submit" name="submit" value="Зарегистрироваться">
	    <!-- Кнопочка (type="submit") отправляет данные на страничку save_user.php  -->  
	   </p>
	  </form>  
	</div>   
    
   </div>
  </div> 
 </div>
<!-----------------------------------------------------------------------------------------------------------------------> 
 
 <div class="footer">
   <a href="">Контакты</a>
   |
   <a href="">Блог</a>
   |
   <a href="">Помощь</a>
      © 2011
   </br>   
 </div> 

 
</body>

</html>
