<form method="POST" action="../controllers/Controller_blog.php" >
    <label>
      Название поста <br/>
      <input type="text" name="name_post"/>
    </label><br/>

    <label>
      Текст поста <br/>
      <input type="text" name="text_post"/>
    </label><br/>

    <label>
      Теги(разделяются запятыми) <br/>
      <input type="text" name="input_tags"/>
    </label><br/>

    <label>
        Загрузить фото <br/>
        <input type="file" name="path_file_image_post" value="загрузить"/>
    </label><br/>
    <input type="submit" value="создать" name="submit_create_post"/>
</form>